.nav{
 	background-color:#000000;
 	padding-top:10px;
 	padding-bottom: 10px;
	max-width: 1024px;
    margin-left: 73px;
 }
.btn{
	background-color: #f1d263;
	font-size: 17px;
	font-family: Arial; 
	font-weight: bold;
	border: none;
	border-radius: 1.2em;
}
.btn:hover{
	background-color: #f1d263;
	font-size: 17px;
	font-family: Arial; 
	font-weight: bold;
	border: none;
	border-radius: 1.2em;
}
.wine-rated{
	color:#9e004f; 
	font-family:Open Sans;
	font-size:37px; 
	font-weight:bold; 
	text-transform: uppercase;
}
.content{
	color: #463371;
	font-size: 25px;
	font-family: Arial; 
	font-weight: bold;
	padding-top:15px;
}
.buy-tickets{
	color:#9e004f; 
	font-size: 25px;
	font-weight: bold;
	font-family: Arial;
	padding-top:20px;
}
.e-ticket{
	color:#000000; 
	font-size: 17px;
	font-family: Arial;
}
.mid-image{
	margin-left: -4px;
    margin-right: -4px;
}
.part-list{
	padding-top:15px;
	padding-bottom: 5px;
}
#pw-button{
	padding-left: 80px;
}
#nyc-button{
	padding-left: 90px;
}
#dc-button{
	padding-left: 60px;
}
#lv-button{
    padding-left: 30px;
}
.ny{
	color:#000000; 
	font-size: 13px;
	font-family: Arial;
	padding-left: 50px;
    padding-right: 50px;
}
.dc{
	color:#000000; 
	font-size: 13px;
	font-family: Arial;
	padding-left: 50px;
    padding-right: 50px;
}
.lv{
	color:#000000; 
	font-size: 13px;
	font-family: Arial;
	padding-left: 50px;
    padding-right: 50px;
}
.details{
	color:#000000; 
	font-size: 12px;
	font-family: Arial;
	padding-left: 50px;
    padding-right: 50px;
}
hr {
    color: #9e004f;
    background: #9e004f;
    height: 1px;
    border: 0;
    border-collapse: collapse;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#rated{
	color: #ffffff;
	background-color: #baa433;
	font-family: Myriad Pro;
	width: 1024px;
    margin-left: 58px;
}
.pw-text{
	color: #9e004f;
	font-size: 50px;
	font-family: Myriad Pro;
	text-transform: uppercase;
	margin-top:30px;
}
.rated-text{
	font-size: 40px;
	font-weight: lighter;
	font-family: Myriad Pro;
	text-transform: uppercase;
}
.wine-name{
	text-align: left;
	font-family: Arial;
	font-size: 18px;
	list-style-type: none;
}
#w-list{
	padding-top:20px;
}